<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Organization" value="组织架构.jpg"/>
    <!--CMD:1,领导关怀-->
    <add key="LeadShip" value="领导关怀"/>
    <!--领导关怀照片切换时间间隔,单位为秒-->
    <add key="LeadShipTimerTick" value="1"/>
    <!--CMD:2,领导指示-->
    <add key="LeadGuide" value="领导指示"/>
    <!--CMD:3,法制示范-->
    <add key="LegalDemo" value="法制示范"/>
    <!--CMD:4,税收宣传-->
    <add key="TaxPublicityFolder" value="税收宣传"/>
    <add key="TaxPublicityVideo_0" value="test1.mp4"/>
    <add key="TaxPublicityVideo_1" value="test2.mp4"/>
    <add key="TaxPublicityVideo_2" value="test3.mp4"/>
    <add key="TaxPublicityVideo_3" value="test4.mp4"/>
    <add key="TaxPublicityVideo_4" value="test5.mp4"/>
    <add key="TaxPublicityVideo_5" value="test4.mp4"/>
    <add key="TaxPublicityVideo_6" value="test5.mp4"/>
    <add key="TaxPublicityVideo_7" value="test3.mp4"/>
    <!--CMD:5,税收宣传-->
    <add key="RegionalNetworkUrl" value="http://www.baidu.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>