<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--无任何操作【WaitingTimeTick】时间之后切换【领导关怀】的图片,单位为秒-->
    <!-- 40分钟 = 40 x 60-->
    <add key="WaitingTimeTick" value="10"/>
    <!-- 0: 显示界面在the 1st screen, 控制界面在the 2nd screen-->
    <!-- 1: 显示界面在the 2nd screen, 控制界面在the 1st screen-->
    <add key="DisplayMode" value="0"/>
    <!--CMD:0,组织架构,pictures文件夹-->
    <add key="Organization" value="组织架构.jpg"/>
    <!--CMD:1,领导关怀,pictures文件夹-->
    <add key="LeadShip" value="领导关怀"/>
    <!--CMD:1,领导关怀照片切换时间间隔,单位为秒-->
    <add key="LeadShipTimerTick" value="1"/>
    <!--CMD:2,领导指示,pictures文件夹-->
    <add key="LeadGuide" value="领导指示"/>
    <!--CMD:3,法制示范,videos文件夹-->
    <add key="LegalDemo" value="法制示范"/>
    <!--CMD:4,税收宣传,videos文件夹-->
    <add key="TaxPublicityFolder" value="税收宣传"/>
    <add key="TaxPublicityVideo_0" value="test1.mp4"/>
    <add key="TaxPublicityVideo_1" value="test2.mp4"/>
    <add key="TaxPublicityVideo_2" value="test3.mp4"/>
    <add key="TaxPublicityVideo_3" value="test4.mp4"/>
    <add key="TaxPublicityVideo_4" value="test5.mp4"/>
    <add key="TaxPublicityVideo_5" value="test4.mp4"/>
    <add key="TaxPublicityVideo_6" value="test5.mp4"/>
    <add key="TaxPublicityVideo_7" value="test3.mp4"/>
    <add key="TaxPublicityThumbnail_0" value="1.png"/>
    <add key="TaxPublicityThumbnail_1" value="2.png"/>
    <add key="TaxPublicityThumbnail_2" value="3.png"/>
    <add key="TaxPublicityThumbnail_3" value="4.png"/>
    <add key="TaxPublicityThumbnail_4" value="5.png"/>
    <add key="TaxPublicityThumbnail_5" value="6.png"/>
    <add key="TaxPublicityThumbnail_6" value="7.png"/>
    <add key="TaxPublicityThumbnail_7" value="8.png"/>
    <add key="TaxPublicityText_0" value="电子税务局双因子认证登录"/>
    <add key="TaxPublicityText_1" value="领带？我有！——办税服务厅的一天"/>
    <add key="TaxPublicityText_2" value="麻烦给我的纳税人一杯Mojito（秦小税版）"/>
    <add key="TaxPublicityText_3" value="秦淮区税务局拍了拍你"/>
    <add key="TaxPublicityText_4" value="万万没想到之微笑服务"/>
    <add key="TaxPublicityText_5" value="社保减免政策延期啦"/>
    <add key="TaxPublicityText_6" value="发票智能审核"/>
    <add key="TaxPublicityText_7" value="秦小税主播带货：发票免费邮寄"/>
    <!--CMD:5,十大事件,pictures文件夹-->
    <add key="BigEventFolder" value="区局十大事件"/>
    <add key="BigEventPict_0" value="1.png"/>
    <add key="BigEventPict_1" value="2.png"/>
    <add key="BigEventPict_2" value="3.png"/>
    <add key="BigEventPict_3" value="4.png"/>
    <add key="BigEventPict_4" value="5.png"/>
    <add key="BigEventPict_5" value="6.png"/>
    <add key="BigEventPict_6" value="7.png"/>
    <add key="BigEventPict_7" value="8.png"/>
    <add key="BigEventPict_8" value="9.png"/>
    <add key="BigEventPict_9" value="0.png"/>
    <add key="BigEventText_0" value="电子税务局双因子认证登录"/>
    <add key="BigEventText_1" value="领带？我有！——办税服务厅的一天"/>
    <add key="BigEventText_2" value="麻烦给我的纳税人一杯Mojito（秦小税版）"/>
    <add key="BigEventText_3" value="秦淮区税务局拍了拍你"/>
    <add key="BigEventText_4" value="万万没想到之微笑服务"/>
    <add key="BigEventText_5" value="社保减免政策延期啦"/>
    <add key="BigEventText_6" value="发票智能审核"/>
    <add key="BigEventText_7" value="秦小税主播带货：发票免费邮寄"/>
    <add key="BigEventText_8" value="秦小税主播带货：发票免费邮寄"/>
    <add key="BigEventText_9" value="秦小税主播带货：发票免费邮寄"/>
    <!--CMD:7,税收宣传-->
    <add key="RegionalNetworkUrl" value="http://www.baidu.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>